@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
}

@theme {
    --font-roboto-mono:  "Roboto Mono", monospace;
    --font-roboto-serif:  "Roboto Serif", serif;

    --color-accent: #ACFF40;
    --color-secondary: #5481FF;
    --color-accent-hover: #9BE53A;
    --color-hover-2: #1F1F1F;
}

/* Applies to all selected text on the page */
::selection {
  color: black; /* Changes the text color */
  background-color: #ACFF40; /* Changes the highlight background color to red */
}

/* For compatibility with older Firefox versions */
::-moz-selection {
  color: black;
  background-color: #ACFF40;
}